body {
    margin: 0;
    background: rgb(112, 98, 238);
}
header {
    width: 100%;
    background: rgb(53, 38, 192);
}
.title {
    color: #ddd;
    margin: 0;
    text-align: left;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content { background-color: #ddd; }

.modal-title {  text-align: center; }
.form { margin: 0 auto; }
.addTask_tx {
    background: #ddd;
    color: #333;
    font-weight: bold;
}
.form_tx {
    color: rgb(204, 70, 70);
    margin: 0;
}
.addBtn { font-weight: bold; }
.addBtn-wra {
    background: rgb(236, 79, 32);
    text-align: center;
    color: #ddd;
}
.addBtn-wra:active { position: relative; }
.modal-cancel {
    position: relative;
    width: 100%;
}
.tast-item {
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.ul {
    padding: 0;
    color: #ddd;
}
.fa-trash-alt {
    color:#ddd;
    display: block;
    position: absolute;
    color: rgb(206, 114, 61);
}
.fa-search {    color :#ddd; }
.remainText_alert{
    color: #ddd;
    position: absolute;
    top: 200px;
    left: 8%;
    font-size: 1.2em;

}
.alert { display: none; }


/* フィルタリング */
.filtered {
    display : none !important;
}
